$color-white: #ffffff;
$color-black: #2b2b2d;

$color-grey: #ced1d6;
$color-dark-grey: #adafb2;
$color-light-grey: #e7ecf2;

$color-green: #01ac4d;
$color-dark-green: #018E40;
$color-soft-green: #01DF65;
$color-bg-green: #EBFFF4;

$color-yellow: #f3b727;
$color-dark-yellow: #E7A60D;
$color-red: #ff511d;
$color-dark-red: #F53900;
