$color-white: #ffffff;
$color-black: #2b2b2d;

$color-grey: #ced1d6;
$color-dark-grey: #adafb2;
$color-light-grey: #e7ecf2;

$color-green: #01ac4d;
// $medium-green :
// $light-green :
$color-yellow: #f3b727;
$color-red: #ff511d;
