.Footer-container {
  margin-top: 5rem;
  border-top: 1px solid $color-grey;
  // @include respond(tablet-small) {
  //   border-top: 2px solid $color-grey;
  // }
}

.Footer-title {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: right;
  @include respond(tablet-small) {
    font-size: 2rem;
  }
}