// @import '../main.scss';

.Header-container {
  display: flex;
  align-items: center;
  color: $color-black;
}

.Header-logo {
  margin-right: 1.5rem;
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;

  @include respond(tablet-small) { font-size: 4rem; }
}

.Header-title {
  font-size: 2rem;
  margin-top: 1.1rem;
  font-weight: 400;

  @include respond(tablet-small) { 
    margin-top: 1.35rem;
    font-size: 2.5rem; }
}

