.task-form {
  width: 100%;
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 6rem;
  margin-bottom: 5rem;

  & input {
  grid-column: col1 / col2;
  display: block;
  height: 5rem;
  width: 100%;
  margin-right: auto;
  padding-left: 2rem;
  border: none;
  background-color: $color-light-grey;
  border-radius: 5rem;
  color: $color-black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  }

  & :focus { outline:none; }
}


.task-form-btn {
  background-color: $color-green;
  
  &:active {
    background-color: $color-dark-green;
  }
}
