.App {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: $color-white;

  @include respond(tablet-small) {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include respond(tablet) {
    width: 60rem;
    margin-top: 2rem;
    // margin-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
}


